
.Contain{
    margin: 5%;
}
.newUnit{
    display: flex;
    /* justify-content: center; */
    background: white;
    /* border-radius: 25px; */
    border-radius: 5px;
    height: 50px;
    margin-bottom: 15px;
    /* border-style: solid;
    border-color:rgb(77, 205, 181); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* justify-content: space-between; */
    font-family: 'Roboto', sans-serif;
    align-items: center;
}
.new {
    display: inline;
    margin-right: 1%;
    font-size: 20px;
    color: black;
    padding-left: 2%;
}
.title {
    text-align:center;
    font-family: 'Nunito', sans-serif;
    /* color: #19647E; */
    color: black;
    font-size: 50px;
    margin-bottom: 0px;
}
.taskButton {
    text-decoration: none;
    border: none;
    background: rgb(77, 205, 181);
    color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    margin-left: 91%;
}
.editTask {
    text-decoration: none;
    /* background:rgb(77, 205, 181); */
    background:none;
    color: black;
    height: 100%;
    /* width: 50px; */
    /* border-radius: 1% 50% 50% 1%; */
    font-size: 10px;
    text-align: center;
    float: right;
    border: none;
    /* padding:0%;
    margin:0%; */
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-left-style: solid;
    border-color: rgba(128,128,128,.5);
    padding-left: 5px;
}
.test {
    text-decoration: none;
    /* background-color: rgb(77, 205, 181); */
    height: 100%;
    font-size: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
    border-left-style: solid;
    border-color: rgba(128,128,128,.5);
    border-left-style: solid;
    border-color: rgba(128,128,128,.5);
    padding-left: 5px;
}
.startButton {
    text-decoration: none;
    border: none;
    background: none;
}
.timeB {
    text-decoration: none;
    border: none;
    background: none;
    font-size: 20px;
    color: black;
    border-left-style: solid;
    border-color: rgba(128,128,128,.5);
    padding-left: 5px;
    height: 100%;
}
.under1 {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-style: solid;
    border-color: white;
    border-width: 3px;
}

span {
    padding-right: 5px;
}