
.list{
   font-size: 30px;
   background-color: rgb(77, 205, 181);
   text-decoration: none; 
   word-spacing: 10px;
}
li{
   display: inline; 
}
a{
   color: white;
   text-decoration: none; 
}
img{
    margin-top: 10px;
    width: 30px;
    height: 30px;
}
.navbg {
    width: 100%;
    margin: 0;
}
body {
    margin: 0;
}
ul {
    margin: 0;
}
.Contain{
    margin: 3%;
}
.newUnit{
    display: flex;
    justify-content: center;
    outline-style: solid;
}
.new{
    color: blue;
    display: inline;
    margin-right: 1%;
}