
.list{
   font-size: 20px;
   background-color: rgb(77, 205, 181);
   text-decoration: none; 
   word-spacing: 10px;
}
li{
   display: inline; 
}
a{
   color: white;
   text-decoration: none; 
}
img{
    width: 30px;
    height: 30px;
    text-align: left;
    /* position: absolute; */
}
.navbg {
    width: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
body {
    margin: 0;
}
ul {
    margin: 0;
}
/* ////////////////////////////////////////////////////////////// */
.Contain{
    margin: 3%;
}
.newUnit{
    display: flex;
    justify-content: center;
    background: rgb(77, 205, 181);
    border-radius: 25px;
    height: 50px;
    margin-bottom: 15px;
}
.new {
    color: white;
    display: inline;
    margin-right: 1%;
}
.title {
    text-align:center;
    font-family: 'Nunito', sans-serif;
    color: #19647E;
    font-size: 50px;
    margin-bottom: 0px;
}