#container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%; 
}
.under3 {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-style: solid;
    border-color: white;
    border-width: 3px;
}
