#container1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%; 
}
.under3 {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-style: solid;
    border-color: white;
    border-width: 3px;
}
body{
    text-align: center;
}
#button{
    margin-top: 120px;
    text-decoration: none;
    background: rgb(77, 205, 181);
    border-radius: 5px;
    border: none;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 15px 5px 15px;
    color: white;
}
.container{
    margin-top: 130px;
    height: 400px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
}
#myChart1 {
    margin-top: 0px;
}
#myChart2 {
    margin-top: 20px;
}