 h1 {
     text-align: center;
     font-size: 100px;
 }
 h4 {
     text-align: center;
     font-size: 30px;
     color: #19647E;
     margin-top: 0px;
 }
 div {
    color: #55D6BE;
    text-align: center;
 }

h1 {
    display: inline;
}
.align {
    color: #19647E;
}
.img{
    width: 10%;
    height: 10%;
}
.start {
    background: #55D6BE;
    border-radius: 15px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 0px;
}
body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}
.description {
    width: 750px;
    margin-bottom: 10px;
}
.desc {
    display: flex;
    justify-content: center;
}
.logo1 {
    margin-top: 30px;
    /* display: flex;
    align-items: center; */
}
.start:hover{
    border-style: solid;
    border-width: 1px;
    border-color: #55D6BE;
    background: white;
    color: #55D6BE;
    /* box-shadow : -4px 5px 4px rgba(0,0,0,.8);     */
}